/***************
    Nav List
***************/
.table-of-contents {
  &.fixed {
      position: fixed;
    }

  li {
    padding: 2px 0;
  }
  a {
    display: inline-block;
    font-weight: 300;
    color: #fff;
    padding-left: 20px;
    height: 2.5rem;
    // padding-bottom: 50px;
    line-height: 2.5;
    // letter-spacing: .4;
    display: inline-block;
    margin-left: 10px;

    &:hover {
      color: #D34760;
      font-weight: 500;
      padding-left: 19px;
      border-left: 1px solid $primary-color;
    }
    &.active {
      color: #D34760;
      font-weight: 500;
      padding-left: 18px;
      border-bottom: 2px solid darken(#D34760,20%);
    }
  }
}
