@import "fonts";
@import "materialize";
@import "color";
@mixin Height ($h) {
  min-height: $h;
}
html {
   font-family: 'Raleway', Trebuchet, sans-serif;
 }
header{
  nav{
    position: fixed;
    opacity: 0.9;
    z-index: 1000;
  }
}
.pre-load{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(https://gis.gastongov.com/GastonGIS/Content/images/loading.gif) center no-repeat #fff;
}
.container-fluid{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.section{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.text-uppercase{
  text-transform: uppercase;
}
#home,#about,#portafolio,#skill{
  @include Height(100vh);
}
#home{
  background-image: url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.9;
  background-position: center;
  -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
  filter: grayscale(10%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  .info-home{
    position: absolute;
  }
  .card{
    padding: 15px;
    opacity: 0.8;
    background: darken($secundary_color,10%);
    font-weight: 700;
    // font-style: italic;
    font-family: 'Courgette', cursive;
    // border: solid 1px white;
    .carousel{
      height: 65px;
    }
    h1{
      margin: 0;
    }
    h3,.btns{
      font-family: 'Lato', sans-serif;
    }
  }
  .icon-down{
    font-size: 5rem;
    color: darken($primary_color,10%);
    position: absolute;
    bottom: 7px;
  }
}
.about{
  background: darken($complent-color,1%);
  &__col{
    // background: lighten($complent-bg,10%);
    // background: lighten($complent-color,20%);
  }
  .row {
    .col.collapsible{
      padding: 0;
    }
    // > div.about__col:nth-child(0){
    //   background: lighten($complent-color,20%);
    // }
    // > div.about__col:nth-child(1){
    //   background: lighten($complent-color,33%);
    //   // @include Height(52.2vh);
    // }
    // > div.about__col:nth-child(2){
    //   background: lighten($complent-color,30%);
    // }
    // > div.about__col:nth-child(3){
    //   background: lighten($complent-color,23%);
    //   // @include Height(52.2vh);
    // }
    // > div.about__col:nth-child(4){
    //   background: lighten($complent-color,39%);
    // }
    // > div.about__col:nth-child(5){
    //   background: lighten($complent-color,36%);
    // }
    // > div.about__col:nth-child(6){
    //   background: lighten($complent-color,17%);
    // }
    // > div.about__col:nth-child(7){
    //   background: lighten($complent-color,17%);
    // }
  }
}
#skill{
  .icon-skill{
    font-size: 3rem;
    // color: red;
    // color: $primary_color;
    &:hover{
      color: $primary_color;
    }
  }
}
@media #{$small-and-down} {
  #home,#about,#portafolio,#skill{
    @include Height(70vh);
  }
  #home{
  background-size: cover;
  opacity: 0.9;
  background-position: right;
  .card{
    .home-name{
      font-size: 3rem;
    }
    .home-skill{
      font-size: 1.8rem;
    }
  }
  .icon-down{
    font-size: 2rem;
    color: lighten($primary_color,10%);
    position: absolute;
    bottom: 7px;
  }
  }
  // styles for small screens and down
  .section{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #portafolio{
    .card{
      .card-action{
        > a.btn:nth-child(0){
          display: none;
        }
      }
    }
  }
}
footer{
  opacity: 0.9;
}
@media #{$medium-and-up} {
  // styles for medium screens and larger
}
@media #{$medium-and-down} {
  // styles for medium screens and down
}
@media #{$large-and-up} {
  // styles for large screens and up
}
@media #{$extra-large-and-up} {
  // styles for extra large screens and up
}
